a
{
	color: rgb(86,25,139);
}

.keyword1
{
	/* text-decoration: underline; */
	color: #a88845;
}

.keyword2
{
	color: #a88845;
}

.keyword3
{
	color: #ad9348;
}

.comment1, .comment1 span, comment1 div
{
	color: #565252 !important;
}

.comment2, .comment2 span, comment1 div
{
	color: #565252 !important;
}

.literal1, .literal1 span
{
	color: #877f3e !important;
}

.literal2, .literal2 span
{
	color: #877f3e !important;
}

.label
{
	color: #586d6e;
}

.function
{
	color: #a88845;
	font-style: italic;
}

.markup
{
	color: #78473b;
	/* using bold will mess up the cursor on windows */
	/* font-weight: bold; */
}

.operator
{
	
}

.digit
{
	color: red;
}

.attention
{
	background: #600a04;
	/* font-weight: bold; */
	color: white;
}

.heading
{
	background-color: #2d78a6;
	color: white;
	font-style: italic;
	/* font-weight: bold; */
}