@import url('MasterReset.css');

#editor {
	font-family: monaco, courier, monospace, serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	height: 96%;
	width: 100%;
	overflow: auto;
}

/* need to set gutter width here and on .gutteritem */
#editorgutter {
	font-family: monaco, courier, monospace, serif;
	font-size: 12px;
	width: 30px;
	float: left;
	visibility: none;
}

.gutteritem {
	font-family: monaco, courier, monospace, serif;
	width: 30px;
	font-size: 12px;
	height: 17px;
	padding: 0px;
	margin: 0px;
}

#editortext {
	font-family: monaco, courier, monospace, serif;
	height: 100%;
	width: 100%;
	font-size: 12px;
}

#editorCaret {
	font-family: monaco, courier, monospace, serif;
	font-size: 12px;
	height: 17px;
	position: absolute;
	top: -10px;
	left: -10px;
	visibility: hidden;
}

#editorSecondCaret {
	font-family: monaco, courier, monospace, serif;
	font-size: 12px;
	height: 17px;
	position: absolute;
	top: -10px;
	left: -10px;
	visibility: visible;
}

#editorMessages {
	position: absolute;
	visibility: hidden;
	-moz-opacity: .65;
	opacity: .65;
}

#statusbar {
	position: absolute;
	bottom: 0px !important;
	left: 0px;
	width: 50%;
	height: 17px;
	overflow: hidden;
	-moz-opacity: .85;
	opacity: .85;
}

.editorline:before {
	content:'|';
	color: rgb(20,20,20);
}

/* font and size setting */
.editorline, .currentlinehighlight {
	font-family: monaco, courier, monospace, serif;
	font-size: 12px;
	height: 17px;
}

.currentlinehighlight:before {
	content:'|';
	color: rgb(20,20,20);
}

#minibuffer {
	font-family: monaco, courier, monospace, serif;
	position: absolute;
	bottom: 0px !important;
	right: 0px;
	width: 50%;
	font-size: 12px;
	height: 17px;
	overflow: hidden;
	
	-moz-opacity: .85;
	opacity: .85;
}